<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.akggame.android.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.vending.BILLING " />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application>
        <activity android:name="com.akggame.akg_sdk.ui.activity.WebView"></activity>

        <receiver
                android:name="com.adjust.sdk.AdjustReferrerReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
                android:name="com.akggame.akg_sdk.ui.activity.PaymentActivity"
                android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize"></activity>

        <meta-data
                android:name="com.google.android.gms.wallet.api.enabled"
                android:value="true" />
    </application>

</manifest>